#mainConetent {
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
}

#documentinfo {
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: var(--gray-dark);
    padding-left: 5px;
    padding-right: 5px;
}

#documentinfoHeader {
    text-align: center;
}

#editorSection {
    width: 70%;
    padding-right: 5px;
}

#editor {
    width: 100%;
    background-color: var(--gray-dark) !important;
    color: white;
    resize: none;
    padding-left: 5px;
    font-size: 25px;
    overflow: hidden;
}

.data {
    font-size: x-large;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    #documentinfo {
        width: 100%;
        margin: 0;

        margin-bottom: 10px;
    }
    #editorSection {
        margin: 0;
        width: 100%;
    }
    #mainConetent {
        flex-direction: column;
    }
}